<html>
<head>
    <title>Concentration Grid</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 1em;
        }
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: lightgray;
            color: black;
            text-align: center;
        }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
Your goal is to select all numbers in order, from 00 to 99 as fast as possible.
<br>
<br>
Solve grids at <a href="/grid">/grid</a>
<br>
<br>
View your progress at <a href="/history">/history</a>
<br>
<br>
Find the leaderboard at <a href="/leaderboard">/leaderboard</a>
<br>
<br>
Code/discussion on <a href="https://github.com/pranavgade20/concentration-grid">https://github.com/pranavgade20/concentration-grid</a>
</body>

<footer>
    <table style="border-collapse: initial; width: 100%; height: fit-content; border: initial">
        <tr style="display: grid; grid-auto-flow: column">
            <td style="border: initial; padding: 1em; text-align: center; font-size: initial"><a href="/">Home</a></td>
            <td style="border: initial; padding: 1em; text-align: center; font-size: initial"><a href="/grid">Grid</a></td>
            <td style="border: initial; padding: 1em; text-align: center; font-size: initial"><a href="/leaderboard">Leaderboard</a></td>
            <td style="border: initial; padding: 1em; text-align: center; font-size: initial"><a href="/auth/logout">Logout</a></td>
        </tr>
    </table>
</footer>

</html>